[submodule "verilog"]
	path = verilog
	url = https://github.com/Ngox-Tsjengh/verilog.git

[submodule "Unix"]
	path = Unix
	url = https://github.com/Ngox-Tsjengh/Unix.git

[submodule "Origin-OS-x86"]
	path = Origin-OS-x86
	url = https://github.com/Ngox-Tsjengh/Origin-OS-x86.git

[submodule "rust-OS-RISCV"]
	path = rust-OS-RISCV
	url = https://github.com/Ngox-Tsjengh/rust-OS-RISCV.git 

[submodule "verilog-CPU-openMIPS"]
	path = verilog-CPU-openMIPS
	url = https://github.com/Ngox-Tsjengh/verilog-CPU-openMIPS.git 
